.h1-align-center {
    text-align: center
}
/* styles for validation helpers */
.field-validation-error {
    color: #6699CC;
    font-weight: bold;
    text-decoration: underline;
}

 
.field-validation-valid {
    display: none;
}

 
input.input-validation-error {
    border: 1px solid #006699;
    background-color: silver;
}

 
input[type="checkbox"].input-validation-error {
    border: 0 none;
}

 
.validation-summary-errors {
    color: #b94a48;
}

 
.validation-summary-valid {
    display: none;
}

.validation-summary-errors {
    color: #E80C4D;
    font-weight: bold;
    font-size: 1.1em;
}
