@{
    ViewData["Title"] = "About";
}

<div class="text-center mt-5">
    <h1>Auction.by team</h1>
    <p class="lead">We are an independent private auction where you can buy or sell any legal product.</p>
</div>

