@model Auction.Contracts.Items.ItemDto

@{
    ViewData["Title"] = "GetItemToUpdateAsync";
}

<h1>GetItemToUpdateAsync</h1>

<h4>ItemLot</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateItemAsync" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" value="@Model.Description"/>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CurrentPrice" class="control-label"></label>
                    <input asp-for="CurrentPrice" class="form-control" value="@Model.CurrentPrice"/>
                    <span asp-validation-for="CurrentPrice" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" value="@Model.Name"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <input type="hidden" value="@Model.StartedPrice" asp-for="StartedPrice"/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

